doctype html
html 
    head 
        title #{title}
    body 
        a(href="new")
            button(type="button") New Message
        h1 Messages
        each message, index in messages
            fieldset
                h3= messages[index].user
                p= messages[index].text
                p= messages[index].added